{% extends 'layout.html' %}
{% block content %}
<div class="wrapper row2">
  <main class="hoc container clear"> 
    <div class="group center btmspace-80">
      <article class="one_half first"><a class="ringcon btmspace-50" href="{{ url_for('regisration') }}"><i class="fab fa-font-awesome-alt"></i></a>
        <p><a class='btn' href="{{ url_for('regisration') }}">Register now</a></p>
      </article>
      <article class="one_half"><a class="ringcon btmspace-50" href="#"><i class="fab fa-elementor"></i></a>
        <p><a class='btn' href="#">Rulebook</a></p>
      </article>
      
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <article class="wrapper">
      <h6 class="heading">MIE day 2019</h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  </section>
</div>
{% endblock %}